/*** VARIABLES ***/

//colors 
$primary_color: #184491;
$secondary_color: #f19b4b;
$danger_color: #f00c63;
/* BOOTSTRAP DEFAULT */
/* $primary_color: #007bff;
$secondary_color: #6c757d;
$success_color: #28a745;
$info_color: #dc3545;
$warning_color: #ffc107;
$danger_color: #17a2b8;
$light_color: #f8f9fa;
$dark_color: #343a40; */

